.pagefooter{
	width: 100%;
	height: 50px;
	background: #34495e;
	display: table;
}
.pagechild{
	display: table-cell;
	vertical-align: middle;
}
.pagechild img{
	margin-left: 10px;
	margin-right: 10px;
}
#main-content{
	padding-top: 60px;
}
.signup-form{
	padding: 20px;
}
.signup-form input{
	margin-bottom: 10px;
	width: 200px;
	text-align: center;
}