.category{
	width: 100%;
	background: #16a085;
}
.category-container{
	padding-top: 10px;
	padding-bottom: 10px;
}
.search-bar{
	height: 40px;
	font-size: 13px;
	border: 1px solid white;
}
.btn-category button{
	font-size: 13px;
	height: 40px;
}
.width-searchbar{
	max-width: 300px;
}
.clock{
	margin-bottom: 10px;
	color: red;
}
.auction-container{
	padding: 10px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 20px -8px black;
	background: white;
	margin-top: 20px;
}
.auction-container img{
	border: 1px solid #ccc;
}
.section-auction{
	padding-bottom: 20px;
}
/*Expand Page*/
.expand-container{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 20px -8px;
}