.category{
	width: 100%;
	background: #16a085;
}
.category-container{
	padding-top: 5px;
	padding-bottom: 5px;
}
.search-bar{
	height: 40px;
	font-size: 13px;
	border: 1px solid white;
}
.btn-category button{
	font-size: 13px;
	height: 40px;
}
.width-searchbar{
	max-width: 300px;
}